.tabBar {
    background-color: $primary;
    width: 100%;
    z-index: 9;
    display: flex;
    justify-content: flex-start;
    position: relative;
    padding: 10px
}

.tabItem {
    @include headingText("heading", 600, "normal");
    padding: 10px 20px;
    position: relative;

    &:hover {
        color: $secondary;
    }
}

.tabItemActive {
    color: $primary;
}

.tabIndicator {
    position: absolute;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    width: 100%;
    height: 80%;
    padding: 5px 0;
    border-radius: 5px;
    margin: auto 0;
    background: $white;
    transition: 0.5s;
    z-index: -1;
}